html{
    /*background-color: aliceblue;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}
li{
    list-style: none;
    margin: 0;
    padding: 20px;
    padding-top: 2rem;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    text-decoration: none;
}
li:hover{
    font-size: 1.3rem;
}
a{
    text-decoration: none;
    color:#04221d;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main{
    margin-left: 20%;
    float: left;
}
.top{
    margin-left: 20%;
    float: left;
    height: 7000vh;
    width: 80%;
    margin-top: 0;
    background: #3b1b6b;
    background-size: cover;
}
.navv{
    width: 20%;
    float: left;
    position: fixed;
    padding-top: 50px;

}
.Qualifications-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:1.5rem;
}
.Qualifications-grid-item{
    height: 20rem;
    padding:5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #ffffff;
    background-color: #04221d;
}
.Qualifications-grid-item p{
    line-height: 30px;
}
#hero {
    width: 80%;
    height: 100vh;
    background: url("img\(5\)[1].jpg") top center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75%, 75%));
    background-attachment: fixed;
    opacity: .9;
  }
  
  /*#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }*/
  .name{
    color: #04221d;
    margin-top: 25%;
    margin-left: 40%;
    font-family: monospace;
    font-size: 46px;
    font-weight: lighter;
   
}
#nm{
  background-color: rgba(128, 141, 148, 0.219);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4.2rem;
}
/*.profilepic{
    height: 55px;
    width: 55px;
    margin: 0;
    border-style: dashed;
    border-width: 5px;
    border-radius: 100%;
}*/
#Inbox{
    width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.788);
  
  /*background: url(img\(2\).jpg) top center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75%, 75%));
  background-attachment: fixed;
  opacity: .9;
  z-index: 1;*/
}
#ExtraSkills{
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap:1.2rem;
    z-index: 1;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 2;
    font-size: 4rem;
}
.Address-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap:1.4rem;
}
.Address-grid-item{
    height: 20rem;
    padding:3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #ffffff;
    background-color: #04221d;
}
#ttt{
    margin-top: 0;
    padding-top: 0;
}
.btn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 25%;
    color: #04221d;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: inset;
    border-radius: 15px;
}
.btn:hover{
    color:#ffffff;
    background-color: #04221d   ;
}
textarea, input{
    color: #04221d  ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
    color: #ffffff;
    position: absolute;
    align-content: center;
}
.copyright{
    margin-left: 30%;
    margin-top: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    border-radius: 30px;
    }
#dark{
    background-color:#00000f;
    color:#ffffff;
    }
#bright{
    background-color:#fffff0;
    color:#000000; 
    }
#mild{
    background-color:#11aaaa;
    color:#000000; 
    }
#Themes{
    display:block;
    }
#Themes li{
    float:left;
    }






